body{
  margin: 0;
  padding: 0;
}

#containerPuzzle{
  width: 1200px;
  height: 800px;
  margin: 0;
  background: #ffffff url("../images/background/finalMap.png") no-repeat;
}

/*score, time and menu*/
.columnGame{
  float: right;
  text-align: center;
}
.infoColumn{
  margin-top: 5px;
  padding: 15px;
  text-align: center;
  background: white;
}
#number{
  font-size: 2em;
}
.btn-success{
  margin-bottom: 20px;
}



/*pieces to move*/

#containerPieces{
  width: 200px;
  position: absolute;
  top: 208px;
  left: 85%;
  height: 700px;
  text-align: center;
}

#containerPieces>img{
  margin-bottom: 10px;
}

/*position of silhouettes*/

#one{
  top: 130px;
  left: 8%;
  width: 289px;
  height: 96px;
  position: absolute;
  background:url("../images/silhouette/silouetteBuckinham.png") no-repeat;
}
#two{
  top: 150px;
  left: 50%;
  position: absolute;
  width: 185px;
  height: 142px;
  background:url("../images/silhouette/silouetteSanPaul.png") no-repeat;
}
#three{

  top: 450px;
  left: 40%;
  background:url("../images/silhouette/silhouetteBigben.png") no-repeat;
  width: 56px;
  height: 209px;
  position: absolute;
 }
#four{
  top: 350px;
  left: 70%;
  width: 185px;
  height: 133px;
  position: absolute;
  background:url("../images/silhouette/silouettebidge.png") no-repeat;
}

/*tooltips and points*/
.points {
    position: absolute;
    top: 430px;
    left: 45%;
    display: inline-block;
}
.points .pointstext, .points1 .pointstext, .points2 .pointstext, .points3 .pointstext {
    visibility: hidden;
    width: 100px;
    background-color:transparent;;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
.points:hover .pointstext, .points1:hover .pointstext, .points2:hover .pointstext, .points3:hover .pointstext {
    visibility: visible;
    opacity: 1;
}
.points1{
  position: absolute;
  top: 180px;
  left: 5%;
  display: inline-block;
}
.points2{
  position: absolute;
  top: 350px;
  left: 65%;
  display: inline-block;
}
.points3{
  position: absolute;
  top: 190px;
  left: 45%;
  display: inline-block;
}
