body{
  margin: 0;
  padding: 0;
}

#contenedorPuzzle{
  width: 1200px;
  height: 800px;
  margin-left: 1.8%;
  background: #ffffff url("../images/mapaFinal.png") no-repeat;
}

/*menu lateral: button start, tiempo y score*/
.columnGame{
  float: right;
  text-align: center;
}
.infoColumn{
  margin-top: 5px;
  padding: 15px;
  text-align: center;
  background: white;
}
#timmerDown{
  font-size: 2em;
}
.btn-success{
  margin-bottom: 20px;
}



/*piezes para mover*/
#contenedorPiezas{
  width: 200px;
  position: absolute;
  top: 208px;
  left: 85%;
  height: 700px;
  text-align: center;
}

#contenedorPiezas>img{
  margin-bottom: 10px;
}

/*position de las siluetas*/
#uno{
  top: 130px;
  left: 9.5%;
  width: 289px;
  height: 96px;
  position: absolute;
  background:url("../images/silhouette/silouetteBuckinham.png") no-repeat;
}
#dos{
  top: 50px;
  left: 50%;
  position: absolute;
  width: 185px;
  height: 142px;
  background:url("../images/silhouette/silouetteSanPaul.png") no-repeat;
}
#tres{

  top: 450px;
  left: 40%;
  background:url("../images/silhouette/silhouetteBigben.png") no-repeat;
  width: 56px;
  height: 209px;
  position: absolute;
 }
#cuatro{
  top: 350px;
  left: 71%;
  width: 185px;
  height: 133px;
  position: absolute;
  background:url("../images/silhouette/silouettebidge.png") no-repeat;
}
/*position de los points*/

.bigBen{
  position: absolute;
  width: 80px;
  height: 100px;
}

/*tooltips de los points*/


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:transparent;;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
